<nav class="custom-navbar">
    <a class="brand-link" href="#">My Website</a>
    <button class="toggle-button" type="button" data-toggle="collapse" data-target="#customNavContent"
        aria-controls="customNavContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="toggle-icon"></span>
    </button>

    <div class="collapse-content" id="customNavContent">
        <ul class="nav-list">
            <li class="nav-item active">
                <a class="nav-link" routerLinkActivate="active" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActivate="active" routerLink="/product">Product</a>
            </li>
        </ul>
    </div>
</nav>
